@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sn-6">
            <h1 class="display-4">Welcome to the Demo Cinema!</h1>
            <p class="display-6">We run short demos of movies instead of the full picture.</p>
            <p class="display-6">Only open on weekends</p>
            <p class="display-6">Showtimes: </p>
            <p font-size: 1.5em>Saturday: 2pm - 2am </p>
            <p font-size: 1.5em>Sunday: 12pm - 8pm </p>

        </div>
        <div class="col-sn-6">
            <img src="images/ticket-2974645_640.jpg" alt="Movie Tickets" />
        </div>
    </div>
    
</div>
